<div class="app-nav-menu">
    <nav>
        <div *for="pair in navigation"><a data-processors="link" [href]="pair.0">{{pair.1}}</a></div>
        <a data-processors="link-silent" href="block-authorized-toolbar.html">Retrieve profile</a>
    </nav>
</div>
