@import "globals";
@import "../../submodules/engine-v1/src/app_styles/layout";

// general
body {
  display: flex;
  flex-direction: column;
  background-color: $grey-1;
}

.main-content {
  flex: 1 0 auto;
  padding-top: 40px;
}

.wrapper {
  width: $size-wrapper;
  margin: 40px auto;
}

input, textarea, select {
  outline: none;
}

// footer
footer {
  min-height: 40px;
  background-color: $grey-2;
  > div {
    width: $size-wrapper;
    margin: 0 auto;
  }
}
